.page__hero,
.page__hero--overlay {
  max-height: 260px;
  overflow: hidden;
}

.page__hero img,
.page__hero--overlay img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .page__hero,
  .page__hero--overlay {
    max-height: 200px;
  }
}

.archive__item-teaser {
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.archive__item-teaser img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
